@import "../../_styles/settings/color";
@import "../../_styles/settings/sizing";
@import "../../_styles/settings/spacing";
@import "../../_styles/settings/z-index";

@import "../../_styles/tools/type";

/*
Navigation Component
*/


.navigation {
  position: fixed;
    top: 0;
    right: 0;
  display: flex;
  width: calc(100% - #{$sidemenu-width});
  height: $navigation-height;
  border-bottom: 1px solid $divider;
  box-sizing: border-box;
  padding: $sd-space $sd-space $sd-space - 2px;
  background: $background-light;
  color: $text;
  z-index: $zindex-2-nav;
}


// Abstract classes

%navigation__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%navigation__text {
  @include set_heading_font;
}


// Navigation Links

.link {
  &,
  & a {
    @extend %navigation__text;
    display: inline-block;
  }
}

.link__a {
  padding: 5px 12px;
}


// Trip Details

.trip {
  @extend %navigation__item;
}

.trip__title {
  display: inline-block;
  padding: 2px 0;
}


// Navigation Profile

.profile {
  @extend %navigation__item;
  flex: 1;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: right;
}