@import "../../_styles/settings/color";
@import "../../_styles/settings/spacing";
@import "../../_styles/tools/block";
@import "../../_styles/tools/type";


/*
* Base Button Component
*/

%_btn {
    &,
    &:link,
    &:visited {
        @include set_inline_block;
        @include set_heading_font;
        position: relative;
        padding: $sd-space/2 $lg-space;
        border: none;
        outline: none;
        cursor: pointer;
    }
}


/*
* Primary Button Component
*/

.btn {
    &,
    &:link,
    &:visited {
        @extend %_btn;
        color: $text;
    }

    &:hover,
    &:active {
        color: rgba($text, .9);
    }
}


/*
* Link Button
*/

.link_btn {
    &,
    &:link,
    &:visited {
        @extend %_btn;
        background: none;
        color: $link;
    }

    &:hover,
    &:active {
        color: $link-hover;
    }
}
