@import "../../_styles/settings/color";
@import "../../_styles/settings/sizing";
@import "../../_styles/settings/spacing";
@import "../../_styles/settings/z-index";

@import "../../_styles/tools/block";

/*
Window Component
*/


.window {
  @include set_block;
  position: relative;
  margin: $navigation-height 0 0 $sidemenu-width;
  z-index: $zindex-0-default;
}

.windowInner {
  padding: 0;
}
