@import "../../_styles/settings/sizing";
@import "../../_styles/settings/spacing";

@import "../../_styles/tools/block";

/*
Window Component
*/


.window {
  @include set_block;
  position: relative;
  width: 100%;
  padding: $navigation-height 0 0 $sidemenu-width;
}

.windowInner {
  padding: $sm-space;
}
