/*
Objects Layer
*/


.navigation {
  position: fixed;
    top: 0;
    left: 0;
  display: flex;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: $sd-space $sd-space $sd-space - 2px;
  background: $background-dark;
  z-index: $zindex-2-nav;
}


// Abstract classes

%navigation__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%navigation__text {
  @include set_heading_font;
  color: $text;
}


// Navigation Brand

.navigation__brand {
  @extend %navigation__item;
  flex: 1;
  font-size: $h3-font-size;

  a {
    @extend %navigation__text;
  }
}


// Navigation Links

.navigation__link {
  &,
  & a {
    @extend %navigation__text;
    display: inline-block;
  }
}

.navigation__link__a {
  padding: 5px 12px;
}


// Trip Details

.navigation__trip {
  @extend %navigation__item;
  display: block;
  text-align: center;
}

.navigation__trip__title {
  display: block;
}

.navigation__trip__countdown {
  @include set_small_font;
  display: block;
  color: $text-subtle;
}


// Navigation Profile

.navigation__profile {
  @extend %navigation__item;
  flex: 1;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: right;
}

.navigation__profile__user {
  .fa {
    margin-left: 7px;
  }
}
