/*
Objects Layer
*/


.sidemenu {
  @include set_inline_block;
  position: fixed;
  top: $navigation-height;
  left: 0;
  background: $background-dark;
  width: $sidemenu-width;
  height: calc(100vh - #{$navigation-height});
}

.sidemenu__list {
  @include reset_list;
  padding-top: $sd-space;
}

.sidemenu__list__item__a {
  @extend .btn--sidemenu;
}
