/*
Tools Layer
*/

@mixin set_box_shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12);
}

@mixin set_sidebar_box_shadow {
  box-shadow: 1px 0 3px rgba(0, 0, 0, .12);
}

@mixin set_box_shadow_large {
  box-shadow: 0 0 24px rgba(black, .32);
}
