@import "../../_styles/settings/color";
@import "../../_styles/settings/sizing";
@import "../../_styles/settings/spacing";
@import "../../_styles/settings/z-index";

@import "../../_styles/tools/block";
@import "../../_styles/tools/list";
@import "../../_styles/tools/type";


/*
Sidemenu Component
*/

.sidemenu {
  @include set_block;
  position: fixed;
    top: 0;
    left: 0;
  width: $sidemenu-width;
  height: 100%;
  color: white;
  background: $background-dark;
  z-index: $zindex-2-nav;
}

.sidemenu__brand {
  position: relative;
  height: $navigation-height;
  text-align: center;
}

.sidemenu__brand__h1 {
  position: absolute;
  top: 50%;
  padding-left: $lg-space;
  transform: translateY(-50%);
  font-size: $h4-font-size;
}

.sidemenu__list {
  @include reset_list;
}
