/*
Settings layer
*/

// UI Colours
$background: #34495E;
$background-dark: darken($background, 5%);
$background-light: #F9FAFC;

$divider: darken($background-light, 5%);

// Brand Colours
$primary: #32CCF4;
$secondary: #FC5185;

// Text Colours
$text: #34495E;
$text-subtle: rgba($text, .75);
$text-x-subtle: rgba($text, .45);

// Link Colours
$link: $primary;
$link-hover: lighten($primary, 10%);
