@import "../../_styles/settings/color";
@import "../../_styles/tools/type";

/*
Trip Selector Component
*/


.selector {
  @include set_heading_font;
  background: none;
  border: none;
  color: $text;
  font-size: 1em;
  text-align: center;
}
