@import "../../_styles/settings/color";
@import "../../_styles/settings/sizing";
@import "../../_styles/settings/spacing";

@import "../../_styles/tools/block";

/*
 * New Trip Component
 */


.container {
  display: block;
  position: absolute;
  top: $navigation-height;
  left: 40px;
  padding: $sm-space;
  background: $background;
  width: 170px;
  z-index: 5000;
}

%form-item {
  @include set_inline_block;
  float: left;
}

.input {
  @extend %form-item;
  width: auto;
  position: relative;
  background: white;
}

.submit {
  @extend %form-item;
  width: auto;
}
