@import "../../_styles/settings/color";
@import "../../_styles/settings/spacing";
@import "../../_styles/tools/box-shadow";
@import "../../_styles/tools/block";

/*
 * Panel Component
 */

.panel {
  @include set_inline_block;
  @include set_box_shadow;
  padding: $sd-space;
  margin: $sm-space;
  background: white;
}