/*
Settings layer
*/

// Application Colours
$background: #393E46;
$background-light: lighten($background, 8%);
$background-dark: darken($background, 5%);
$navigation: darken($background, 8%);


// Brand Colours
$primary: #58B9E2;
$secondary: #FC5185;


// Text Colours
$text: white;
$text-subtle: rgba($text, .75);
$text-x-subtle: rgba($text, .45);
