/*
Elements Layer
*/


h1, h2, h3, h4, h5, h6 {
  @include set_heading_font;
  margin: 0 0 $sd-space;
}

h1 {font-size: $h1-font-size}
h2 {font-size: $h2-font-size}
h3 {font-size: $h3-font-size}
h4 {font-size: $h4-font-size}
h5 {font-size: $h5-font-size}
h6 {font-size: $h6-font-size}
