@import "../../_styles/settings/color";
@import "../../_styles/settings/sizing";
@import "../../_styles/settings/spacing";
@import "../../_styles/settings/z-index";
@import "../../_styles/tools/block";


/*
 * Modal Component
 */

 %modal_width {
   max-width: $modal-width;
   width: 85%;
 }

 %full_background {
   position: fixed;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
 }

 %modal_section {
   padding: $sd-space;
 }

 %modal_open {
   opacity: 1;
   pointer-events: auto;
   visibility: visible;
   display: block;
 }

.container {
  @extend %full_background;
  @include set_block;
  background: none;
  border: none;
  outline: none;
  z-index: $zindex-3-modal;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  display: none;

  &.open {
    @extend %modal_open;
  }
}

.overlay {
  @extend %full_background;
  background: rgba(black, .45);
  z-index: 0;
}

.modal {
  @extend %modal_width;
  position: relative;
  margin: auto;
  max-width: 520px;
  background: $background;
  z-index: 1;
}

.header {
  @extend %modal_section;
  background: $background-dark;
}

.header__h {
  margin: 0;
}

.body {
  @extend %modal_section;

  // remove bottom margin from last element
  & > *:last-child {
    margin-bottom: 0;
  }
}

.footer {
  clear: both;
  text-align: right;
}
