<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include '_components/head/meta.html' %}
    <title>Trip Planner</title>
    {% include '_components/head/cdn.html' %}
    {% include '_components/head/styles.html' %}
    {% include '_components/head/fonts.html' %}
    {% block head %}
    {% endblock %}
</head>
<body>
{% include '_components/navigation/navigation.html' with user_full_name=user_full_name %}

{% block window %}
{% endblock %}

{% block react %}
{% endblock %}

{% block js %}
{% endblock %}
</body>
</html>