<nav class="navigation">
    <div class="navigation__brand">
        <a href="#">TripPlanner</a>
    </div>
    <div class="navigation__trip">
        <span class="navigation__trip__title">Our American Holiday</span>
        <span class="navigation__trip__countdown">24 days left</span>
    </div>
    <ul class="navigation__profile">
        <li class="navigation__link">
            <a class="navigation__link__a navigation__profile__user" href="#">Ben Hadfield<i class="fa fa-chevron-down"></i></a>
        </li>
    </ul>
</nav>
