<style>
    ._b_beta {
        position: fixed;
        bottom: 20px;
        right: 20px;
        box-sizing: border-box;
        background: rgba(235, 235, 235, .85);
        padding: 9px;
        font-size: .8rem;
    }

    ._b_text {
        margin: 0 0 5px;
    }

    ._b_text:last-child {
        margin-bottom: 0;
    }
</style>

<div class="_b_beta">
    <p class="_b_text">This platform is currently under active development, and is not stable.</p>
    <p class="_b_text"><a rel="nofollow" target="_blank" href="https://github.com/benjaminhadfield/tripplanner">Contribute to this project on GitHub!</a></p>
</div>